@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body {
    @apply bg-[#141414] text-white !scrollbar-thin !scrollbar-track-transparent !scrollbar-thumb-[#DF9DC0] font-nunito;
    
  }
}

header{
  @apply fixed top-0 z-50 flex w-full items-center justify-between px-4 py-4 transition-all lg:px-10 lg:py-6;
}

@layer components{
  .headerLink{
    @apply cursor-pointer text-sm text-white transition duration-[.4s] hover:text-[#DF9DC0] text-[16px] font-light
  }
  .sectionTitle{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
  }
  .bannerButton{
    @apply flex items-center justify-center gap-x-2
  }

  .input{
    @apply w-full  bg-[#333] px-5 py-3.5 placeholder-[gray] outline-none focus:bg-[#454545] h-[54px]
  }

  .modalButton{
    @apply h-9 w-9 border-none bg-[#181818] hover:bg-[#DF9DC0] flex items-center justify-center transition rounded-full
  }

  .planBox {
    @apply relative mx-1.5 flex h-20 w-[calc(100%/3)] cursor-default items-center justify-center rounded-sm bg-[#DF9DC0] font-semibold shadow after:absolute after:top-full after:left-1/2 after:block after:-translate-x-1/2 after:border-8 after:border-b-0 after:border-transparent after:border-t-[#DF9DC0] after:content-[""] md:h-32 lg:mx-8;
  }

  /* Table */
  .tableRow {
    @apply flex flex-wrap items-center font-medium;
  }

  .tableDataTitle {
    @apply w-full p-2.5 text-center text-sm font-normal text-white md:w-2/5 md:p-3.5 md:text-left md:text-base;
  }

  .tableDataFeature {
    @apply w-[calc(100%/3)] p-2.5 text-center md:w-[calc(60%/3)] md:p-3.5;
  }

}

.hero-gradient {
  position: relative;
  isolation: isolate;
}

.hero-gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
  background: linear-gradient(
    180deg,
    #141414 0%,
    #141414 3%,
    hsla(0, 0%, 8%, 0.15) 15%,
    hsla(0, 0%, 8%, 0.35) 29%,
    hsla(0, 0%, 8%, 0.58) 44%,
    rgba(223, 157, 192, 0.58) 68%,
    #141414 100%
  );
  background-attachment: fixed;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.loader {
  border: 6px solid rgba(0, 0, 0, 0.1);
  border-top: 6px solid var(--loader-color); /* Use a variável de cor aqui */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #DF9DC0;
  padding-right: 40px;
  color:#fff;
}
.input-search::placeholder{
  color:rgba(255,255,255,.9);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;  
}
.btn-search:focus ~ .input-search{
  width: 200px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 200px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.search-box.open .input-search{
  width: 200px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.noti {
  padding-top: 5px;
  border: 0;
  cursor: pointer;
  margin: 1em 0;
  outline: none;
}
.noti i {
  color: #fffcf7;
  font-size: 2.25em;
}
.noti .blip {
  background-color: #b70000;
  border-radius: 50%;
  bottom: 25px;
  height: 10px;
  left: 14px;
  position: relative;
  transition: 0.2 ease-in-out;
  width: 10px;
}
.noti .blip.hide {
  opacity: 0;
}
.notification {
  background-color: #fffcf7;
  border-radius: 5px;
  right: 30px;
  top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  color: #1d1e2c;
  max-height: 120px;
  min-height: 120px;
  opacity: 0;
  position: absolute;
  text-align: left;
  transition: 0.3s ease-in-out;
  width: 0px;
}
.notification.open {
  opacity: 1;
  width: 500px;
}
.notification .close {
  cursor: pointer;
  display: inline;
  font-size: 1.25em;
  position: absolute;
  right: 0.6em;
  top: 0.5em;
}
.notification .content {
  align-items: center;
  display: flex;
  height: 100%;
  padding: 16px;
}
.notification .content .profile-img {
  background: url('/card.png') center center no-repeat;
  background-size: 100%;
  border-radius: 5px;
  height: 80px;
  min-width: 80px;
  opacity: 0;
  transition: 0.2s ease-in;
}
.notification .content .profile-img.show {
  opacity: 1;
}
.notification .content .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  padding: 0 1em;
  transition: 0.2s ease-in;
}
.notification .content .text.show {
  opacity: 1;
}
.notification .content .text h1 {
  font-size: 16px;
  font-weight: 800;
  margin: 0;
  margin-bottom: 0.95em;
}
.notification .content .text p {
  font-size: 15px;
  margin-bottom: 0em;
  margin-top: 0em;
}



@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

